html, body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0 auto;
  font-family: 'Baskerville', Georgia, Times, serif;
  font-size: 95%;
  line-height: 30px;
  min-width: 720px;
  background:#f0f0d8 url(/images/agaelebe_backgrounsd.gif) repeat top;
  color: #333;
}
header, footer, section, article {
	display: block;
}
section, #content {
  width: 720px;
  margin: 0 auto;
}
#by {
  font-style: italic;
  margin-right: 5px;
  font-size: ;
}
#caption {
  position: absolute;
  font-size: 140%;
  margin: -135px 0 0 70px;
}
#path {
  color: #b53131;
}
.date {
  font-style: italic;
  float: right;
  margin-right: 30px;
  color: #d8d8c0;
}
a {
  color: #df8615;
  text-decoration: none;
  border-bottom-color: #f84600;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  color: #f84600;
}
h1 a {
  color: #f84600;
  text-decoration: none;
  border: none;
  text-transform: uppercase;
}

h1 a:hover {
  color: #f84600;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}

h1 {
  color: #f84600;
  font-size: 127.5%;
  letter-spacing: 0.12em;
  word-spacing: 0.36em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Trebuchet MS', sans-serif;
  text-shadow: rgba(0, 0, 0, 0.3) 0 1px 0;
}

a:hover {
  text-decoration: none;
  border-bottom-color:#f84600;
  border-bottom-style:solid;
  color: #f84600;
}

#logo {
  border: none;
}

body > header > h1 {
	padding-left: 0;
  margin: 0;
  font-weight: normal;
}
.post header {
	margin-bottom: 10px;
}
.post .body p:first-child {
  margin-top: 0;
}
.post .body p:last-child {
  margin-bottom: 0;
}
.post {
  margin-bottom: 30px;
}
.post:last-child {
  margin-bottom: 10px;
}
.post p {
  margin: 10px 0;
}
.post .more {
  margin-top: -10px;
  margin-right: 30px;
  font-style: italic;
  text-align: right;
}
.more a {
  text-decoration: none;
}
.more a:hover { text-decoration: underline }
body > header {
  width: 100%;
  display: block;
  text-align: center;
  float: right;
  padding-top: 0px;
  margin-bottom: 10px;

}
h1, h2, h3, h4 {
  display: inline;
  margin: 0;
  font-weight: 600;
}
ul, li {
  list-style-type: square;
}
code {
  font-family: 'Anonymous Pro', 'Bitstream Vera Sans', 'Monaco', Courier, mono, monospace;
}
pre {
  padding: 20px;
  margin: 10px 20px;
  text-shadow: white 0 1px 0;
  font-size: 1.1em;
  color: black;
  background-color: #f0f0f0;
  line-height: 1.3em;
  border: 1px solid #ccc;
  border-radius: 5px;
}
blockquote {
  font-style: italic;
}

body > footer {
  text-align: center;
  margin: 15px auto;
  padding: 10px 0;
  font-style: italic;
  font-size: 16px;
  color: white;
  background: #7a8370;
  vertical-align: top;
  text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
}

footer a {
  color: #d8d8c0;
  border-bottom-color: #d8d8c0;
}

footer a:hover {
  color: #333;
  border-bottom-color: #222;
}

.tags, .twitter{
  display: block;
  color: #7a8370;
}

.footer_container{
  font: 1em 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
  text-align: left;
  font-style: none;
  width: 720px;
  display: block;
  margin: 0 auto;
}

.footer_container ul{
  list-style-type: none;
  float: left;
  width: 230px;
  margin: 0;
  padding: 5px;
  margin-left: 0;
  line-height: 1.4em;
  border: 0;
}

.footer_container ul strong{
  padding-bottom: 2px;
  margin: 0;
  display: block;
  color: #d8d8c0;
  text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
}

.footer_container li{
  margin: 0;
  padding:0;
  list-style-type: none;
}

.footer_container li a{
  margin: 0;
  padding:0;
  list-style-type: none;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.3) 0px -1px 0px;
  font-size: 92%;
}

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

